<div class="page-container">

    <div class="title">
        <p>Forgot Password</p>
    </div>

    <div class="for-body ">
        <div class="forms mt-4">
            <div>
                <p>Mobile Number/email :</p>
                <input type="tel" id="mobile" placeholder="Enter Mobile Number/email" [formControl]="text" />
            </div>
        </div>
        <p class="err" *ngIf="submitted && text.invalid">Enter Mobile Or Email</p>
        <p class="err" *ngIf="error !=null">{{error}}</p>
        <div class="login-btn">
            <button (click)="submit()">Send OTP</button>
        </div>

    </div>

</div>