.top-bar {
  position: fixed;
  width: 100%;
  padding: 0;
  margin: 0;
}
.page-container .page-top {
  width: 100%;
  height: 50px;
  background-color: #fd841f;
  box-shadow: 0px 0px 4px 0px #00000040;
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffff;
  font-family: "Poppins";
  font-size: 20px;
}

.bodycontent-container {
  padding-top: 10px;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #e7e9ed;
}

.body-container {
  height: calc(100vh - 100px);
  width: 100%;
  background-color: #ffff;
  overflow: auto;
  margin-bottom: 40px;
  border-bottom: 1px solid #e7e9ed;

}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.body-content {
  width: 95%;
  margin: auto;
  height: 113px;
  font-family: "Poppins";
  margin-bottom: 10px;
  border-bottom: 1px solid #cdcccc;
}
.body-content .first {
  display: flex;
  justify-content: space-between;
  height: 30px;
  align-items: center;
}

.body-container .second {
  display: flex;
  justify-content: space-between;
  height: 30px;
  align-items: center;
  align-items: center;
}

.body-container .third {
  display: flex;
  justify-content: space-between;
  height: 30px;
  align-items: center;
  align-items: center;
}

.body-container .four {
  display: flex;
  justify-content: space-between;
  height: 30px;
  align-items: center;
  align-items: center;
}

.body-container .four p {
  white-space: nowrap;
  overflow: auto;
  font-size: 12px;
  padding-bottom: 10px;
  max-width: 60%;
}

.body-container .four button {
  width: 100px;
  border: none;
  border-radius: 5px;
  background-color: #0a2647;
  color: #ffff;
  height: 30px;
  margin-bottom: 17px;
}
.int-btn-disabled {
  background-color: grey !important;
  color: white !important;
  font-size: 14px !important;
  font-family: "Poppins" !important;
  width: 100px !important;
  border-radius: 5px !important;
}


.no-condidate{
  text-align: center;
  margin-top: 50px;
  color: #fd8520;
}