<div class="page-container">
    <div class="header">
        <app-header></app-header>
    </div>


    <div class="for-body">
        <div style="margin-bottom: 40px;">
            <h4 style="text-align: center; color: #fd841f; font-family: 'Poppins', sans-serif; font-size: 20px; font-weight: 700;">
                Change Password
            </h4>
        </div>
        <div class="forms">
            <div style="margin-bottom: 10px;">
                <p>Old Password:</p>
                <input type="password" placeholder="Enter Old Password" />
            </div>
            <div style="margin-bottom: 10px;">
                <p>New Password:</p>
                <input type="password" placeholder="Enter New Password" />
            </div>
            <div style="margin-bottom: 10px;">
                <p>Confirm Password:</p>
                <input type="password" placeholder="Confirm New Password" />
            </div>
        </div>
        <p class="err" *ngIf="''">* Fill All The Required Fields</p>
        <div class="login-btn">
            <button>Send OTP</button>
        </div>
    </div>

</div>