.login-content a {
  color: #000;
  text-decoration: none;
}

.button {
  margin-top: 10px;
  width: 180px;
}

.btn-bg-brand-blue {
  background-color: #0a2647;
  color: #fff;
}

.forgot-pass {
  text-align: right;
  font-size: 10px;
  color: #0a2647;
}

.ad-image img {
  width: 100%;
}

.btn-brand-blue {
  min-width: 150px;
}

.login-main .col-2 img {
  width: 100%;
}

.acc {
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

.acc span {
  padding-left: 11px;
  color: #fd841f !important;
  font-weight: 600;
  cursor: pointer;
}

.err {
  margin-bottom: 0;
}

.register-content {
  position: relative;
}

.register-form {
  max-width: 600px;
  margin: auto;
}

.single-row p {
  color: red;
}

.content-box {
  display: flex;
  justify-content: center;

}

.content-box button {
  background: #0a2647;
  color: white;
}