<div class="row register-content-row height-register-content" style="margin: 0;">
    <div class="col register-content" style="padding: 10px">
        <div class="row" style="margin: 0;">
            <div class="col">
                <h3 class="text-center mt-3" style="color: #fd8520;">Change Password</h3>
            </div>
        </div>
        <div class="row" style="position: relative;" style="margin: 0;">
            <form [formGroup]="SetPasswordForm" (submit)="submitPassword()">
                <div class="register-form">
                    <div class="single-row mt-2">
                        <label for="">Old Password:</label>
                        <div class="content-box" style="display:block">
                            <input type="password" class="form-control" placeholder="Enter Old Password"
                                formControlName="oldpassword">
                        </div>
                    </div>
                    <div class="single-row">
                        <span></span>
                        <p *ngIf="SetPasswordForm.get('password')?.invalid && submitted" class="err"> Enter Old
                            Password
                        </p>
                    </div>
                    <div class="single-row mt-3">
                        <label for="">New Password :</label>
                        <div class="content-box" style="display:block">
                            <input type="password" class="form-control" placeholder="Enter New Password"
                                formControlName="password">
                        </div>
                    </div>
                    <div class="single-row">
                        <span></span>
                        <p *ngIf="SetPasswordForm.get('password')?.invalid && submitted" class="err"> Enter Password
                        </p>
                    </div>
                    <div class="single-row mt-3">
                        <label for="">Re-Enter New Password :</label>
                        <div class="content-box" style="display:block">
                            <input type="password" class="form-control" placeholder="Re-Enter Password"
                                formControlName="confirmpassword">
                        </div>
                    </div>
                    <div class="single-row">
                        <span></span>
                        <p *ngIf="SetPasswordForm.get('confirmpassword')?.invalid && submitted" class="err">
                            Re-Enter password </p>
                        <p *ngIf="serverErr !=null " style="color: red;"> {{serverErr}} </p>
                        <p *ngIf=" submitted && Notmatched" style="color: red;">
                            {{'Password and Re-enter Password Must be Same'}} </p>
                    </div>
                    <div class="forgot-pass" style="padding-top: 10px;">
                        <!-- <a style="cursor: pointer; font-size: 15px;">ForgotPassword!</a> -->
                    </div>
                    <div class="single-row mt-3">
                        <label for=""> </label>
                        <div class="content-box">
                            <button type="submit" class="btn btn-brand-blue mb-2">Change Password</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>