.logo {
  padding: 20px;
}

.title {
  padding-top: 20px;
}

.title span {
  padding-left: 20px;
  font-size: 24px;
  color: #0a2647;
  font-weight: 700;
  height: 0px;
  font-family: "Poppins";
}

.view-ima {
  position: relative;
}

.view-ima img {
  width: 80px;
  height: 100px;
}

.view-ima p {
  position: absolute;
  top: -9px;
  left: 71px;
}

.title p {
  margin-top: 6px;
  padding-left: 20px;
  color: #0a2647;
  font-weight: 400;
  font-family: "Poppins";
  font-size: 14px;
}

.for-body {
  max-width: 800px;
  margin: auto;
}

.for-body .forms {
  width: 95%;
  margin-top: 45;
  margin: auto;
}

.forms {
  padding-bottom: 30px;
  width: 100%;
  margin: auto;
}

.forms>p {
  height: 10px;
  padding-left: 20px;
  font-family: "Poppins";
  color: #0a2647;
  font-weight: 600;
}

.forms input:not([type="checkbox"]) {
  width: 50%;
  height: 40px;
  background: #ffffff;
  box-shadow: 0px 0px 4px 0px #00000040;
  border-radius: 5px;
  border: none;
  padding-left: 10px;
  font-family: "Poppins";
  margin-bottom: 10px !important;
}

.multi-check {
  width: 50%;
  height: 40px;
  background: #ffffff;
  box-shadow: 0px 0px 4px 0px #00000040;
  border-radius: 5px;
  border: none;
  padding-left: 10px;
  font-family: "Poppins";
  margin-bottom: 10px !important;
}

.forms input:focus {
  outline: none;
}

.sub-input {
  display: flex;
  width: 62%;
  margin-bottom: 10px;
}

.sub-input select {
  width: 37%;
  height: 40px;
  background: #ffffff;
  box-shadow: 0px 0px 4px 0px #00000040;
  border-radius: 4px;
  border: none;
  font-family: "Poppins";
}

select:focus {
  outline: none;
}

.lang select {
  width: 98%;
  height: 40px;
  background: #ffffff;
  box-shadow: 0px 0px 4px 0px #00000040;
  border-radius: 4px;
  border: none;
  padding-left: 10px;
  font-family: "Poppins";
}

.login-btn {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.login-btn button {
  width: 140px;
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: #0a2647;
  color: #ffff;
  font-family: "Poppins";
}

.forms>span {
  display: flex;
  justify-content: flex-end;
  font-family: "Poppins";
  color: #0a2647;
  font-weight: 600;
  font-size: 14px;
  text-decoration: underline;
  cursor: pointer;
}

.choose-image {
  margin: 0 !important;
  display: flex;
  height: 100px;
}

.choose-image label {
  background: #ffffff;
  padding: 8px 10px;
  cursor: pointer;
  border-radius: 3px;
  font-weight: normal !important;
  width: 80px;
  text-align: center;
  color: #b4b4b4;
  box-shadow: 0px 2px 5px 0px #0000001a;
  border-radius: 5px;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
}

.tabs {
  width: 24%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  background-color: #ffff;
  border-radius: 5px;
  margin-bottom: 30px;
  align-items: center;
  font-family: "Poppins";
  font-size: 15px;
  height: 40px;
  margin-right: 36%;
  margin-top: 20px;
  cursor: pointer;
}

.active {
  background-color: #fd841f;
  width: 50%;
  height: 100%;
  border-radius: 5px;
  color: #ffff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reg-btn {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reg-btn button {
  width: 140px;
  height: 50px;
  border: none;
  border-radius: 5px;
  background-color: #0a2647;
  color: #ffff;
  font-family: "Poppins";
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.activeErr {
  border: 1px solid red !important;
  box-shadow: 0px 0px 1px 0px red !important;
}

.lang button {
  width: 95%;
  height: 35px;
  border: none;
  border-radius: 5px;
  background: white;
  background: #ffffff;
  box-shadow: 0px 0px 4px 0px #00000040;
  margin-bottom: 10px;
}

.dropdown-option input {
  width: 21px;
  height: 19px;
}

.dropdown-menu {
  width: 25% !important;
  max-height: 300px !important;
  overflow: auto;
  margin-left: 30%;
}

.auto-suggetion {
  position: relative;
}

.list-option {
  position: absolute;
  background: white;
  width: 100%;
  margin-top: 46px;
  overflow: auto;
  display: none !important;
  z-index: 100000000000;
  top: 0;
  max-height: 200px;
}

.list-option ul {
  list-style-type: none;
  padding: 0;
  width: 100%;
  margin-bottom: 0;
}

.list-option ul li {
  padding: 4px 10px;
  width: 100%;
  font-size: 12px;
  overflow: auto;
}

.list-option ul li:hover {
  background: #6a6565;
  color: white;
  cursor: pointer;
}

.auto-suggetion:focus-within>.list-option {
  display: block !important;
}

.list-option:hover {
  display: block !important;
}

.output li {
  font-size: 12px;
  height: 20px;
}

.output p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100px;
  margin-bottom: 0;
  width: fit-content;
}

.output {
  display: flex;
  flex-direction: row;
  width: 40%;
}

.output ol {
  gap: 5px;
}

.output ol::-webkit-scrollbar {
  display: none;
}

.output ol li {
  background: grey;
  padding: 5px;
  display: flex;
  align-items: center;
  border-radius: 3px;
  color: white;
  width: fit-content;
}

.output {
  display: flex;
  flex-direction: row;
  width: 95%;
}

.output ol {
  display: flex;
  gap: 5px;
}

.output ol::-webkit-scrollbar {
  display: none;
}

.output ol li {
  background: grey;
  padding: 5px;
  display: flex;
  align-items: center;
  border-radius: 3px;
  color: white;
}

.auto-suggetion1 {
  position: relative;
}

.list-option1 {
  position: absolute;
  background: white;
  width: 100%;
  margin-top: 46px;
  max-height: 200px;
  overflow: auto;
  display: none !important;
  top: 0;
}

.list-option1 ul {
  list-style-type: none;
  padding: 0;
  width: 100%;
  margin-bottom: 0;
}

.list-option1 ul li {
  padding: 4px 10px;
  width: 100%;
  font-size: 12px;
  overflow: auto;
}

.list-option1 ul li:hover {
  background: #6a6565;
  color: white;
  cursor: pointer;
}

.auto-suggetion1:focus-within>.list-option1 {
  display: block !important;
}

.list-option1:hover {
  display: block !important;
}

.language {
  margin: 0 !important;
}

.language .options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.selected-language-name {
  color: black;
  background: #e0e0e0;
  width: fit-content;
  padding: 0px 8px;
  font-size: 16px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.selected-language-name span {
  cursor: pointer;
  margin-left: 10px;
}

.selected-language-name {
  height: 25px !important;
}

.options label {
  display: flex;
  gap: 5px;
}

input[type="checkbox"] {

  box-shadow: 0px 0px 0px 0px !important;

}

.err {
  text-align: center;
  color: red;
}

.add-btn {
  height: 40px;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-left: -5px;
  width: 14%;
  background: #0a2647;
  color: white;
}

.datas {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  width: 50%;
  margin-left: 30%;
}

.items {
  background-color: #a6a6a69e;
  padding: 4px;
  border-radius: 5px;
}

.Fields-div {
  display: flex;
}

.Fields-div p {
  width: 30%;
}

.header {
  position: sticky;
  top: 0px;
  z-index: 1000000000;
}

.dropdown-item label {
  display: flex;
  gap: 10px;
  align-items: center;
  cursor: pointer;
  font-size: 13px;
}

#skils-option {
  position: absolute;
  inset: 0px auto auto 0px;
  margin: 0px;
  transform: translate3d(680.5px, 627px, 0px);
}

.remove-page {
  margin-left: 6px;
  cursor: pointer;
}