<div class="page-container">
    <div class="logo">
        <img style="width: 144px;" src="../../../assets/logo.png" alt="">
    </div>
    <div class="title">
        <span>Welcome !</span>
        <p>Sign in to access thousands of Jobs</p>
    </div>

    <div class="for-body">
        <div class="forms" [formGroup]="loginForm">
            <div>
                <p>Email ID:</p>
                <input type="email" id="email" placeholder="Enter Your Email ID" formControlName="email"
                    [ngClass]="submitted && loginForm.get('email')?.invalid? 'active-err':'' " />
            </div>
            <div>
                <p>Password:</p>
                <input type="password" id="pwd" placeholder="Enter Password" formControlName="password"
                    [ngClass]="submitted && loginForm.get('password')?.invalid? 'active-err':'' " />
                <span style=" text-align: right; font-size: 12px;padding-top: 5px;">Forgot Password !</span>
            </div>
        </div>
        <p *ngIf="submitted && loginForm.invalid " style="text-align: center; color: red;"> *Fill All The Required
            Fields </p>
        <p *ngIf="serverErr !=null " style="text-align: center; color: red; padding-left: 11%;"> {{serverErr}} </p>

        <div class="login-btn">
            <button (click)="login()">Log In</button>
        </div>
        <div class="signup">
            <p>Don't have an account? <span style="color: #FD841F;" (click)="signUp()">Sign up</span></p>
        </div>
    </div>

</div>