<div class="page-container">
    <div class="header">
        <!-- <app-header></app-header> -->
        <app-mobile-top-bar></app-mobile-top-bar>
    </div>


    <div class="for-body">
        <div style="margin-bottom: 40px;">
            <h4
                style="text-align: center; color: #fd841f; font-family: 'Poppins', sans-serif; font-size: 20px; font-weight: 700;">
                Change Password
            </h4>
        </div>
        <div class="row" style="position: relative;" style="margin: 0;">
            <form [formGroup]="SetPasswordForm" (submit)="submitPassword()">
                <div class="register-form">
                    <div class="single-row mt-2">
                        <label for="">Old Password:</label>
                        <div class="content-box" style="display:block">
                            <input type="password" class="form-control" placeholder="Enter Old Password"
                                formControlName="oldpassword">
                        </div>
                    </div>
                    <div class="single-row">
                        <span></span>
                        <p *ngIf="SetPasswordForm.get('password')?.invalid && submitted" class="err"> Enter Old
                            Password
                        </p>
                    </div>
                    <div class="single-row mt-3">
                        <label for="">New Password :</label>
                        <div class="content-box" style="display:block">
                            <input type="password" class="form-control" placeholder="Enter New Password"
                                formControlName="password">
                        </div>
                    </div>
                    <div class="single-row">
                        <span></span>
                        <p *ngIf="SetPasswordForm.get('password')?.invalid && submitted" class="err"> Enter Password
                        </p>
                    </div>
                    <div class="single-row mt-3">
                        <label for="">Re-Enter New Password :</label>
                        <div class="content-box" style="display:block">
                            <input type="password" class="form-control" placeholder="Re-Enter Password"
                                formControlName="confirmpassword">
                        </div>
                    </div>
                    <div class="single-row">
                        <span></span>
                        <p *ngIf="SetPasswordForm.get('confirmpassword')?.invalid && submitted" class="err">
                            Re-Enter password </p>
                        <p *ngIf="serverErr !=null " style="color: red;"> {{serverErr}} </p>
                        <p *ngIf=" submitted && Notmatched" style="color: red;">
                            {{'Password and Re-enter Password Must be Same'}} </p>
                    </div>
                    <div class="forgot-pass" style="padding-top: 10px;">
                        <!-- <a style="cursor: pointer; font-size: 15px;">ForgotPassword!</a> -->
                    </div>
                    <div class="single-row mt-3">
                        <label for=""> </label>
                        <div class="content-box">
                            <button type="submit" class="btn btn-brand-blue mb-2">Change Password</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="footer">
        <app-mobile-menu-bar></app-mobile-menu-bar>
    </div>
</div>