<div class="page-container">

    <div class="title">
        <span>Verify OTP !</span>
    </div>

    <div class="for-body" [formGroup]="otpForm">
        <div class="forms">
            <div>
                <input type="text" id="otp" placeholder="Enter OTP" formControlName="OTP" minlength="6" maxlength="6"
                    onkeypress="return event.keyCode === 8 || event.charCode >= 48 && event.charCode <= 57"
                    [ngClass]="submitted && otpForm.get('OTP')?.invalid?'active-err':'' " />
            </div>
        </div>
        <!-- <p *ngIf="submitted && loginForm.invalid " style="text-align: center; color: red;"> *Fill All The Required Fields </p>
        <p *ngIf="serverErr !=null " style="text-align: center; color: red; padding-left: 11%;"> {{serverErr}} </p> -->
        <p style="width: 83%;margin: auto;text-align: end; margin-top: -8px; cursor: pointer;text-decoration: underline; "
            *ngIf="counter == 0 " (click)="resendOtp()">
            Resend!</p>
        <p style="width: 83%;margin: auto;text-align: end; margin-top: -8px; cursor: pointer;text-decoration: underline; color: red; "
            *ngIf="counter>0">{{counter | otpTimer}}</p>
        <p *ngIf="submitted && otpForm.invalid " style="text-align: center; color: red; padding-left: 11%;">
            Enter OTP
        </p>
        <p *ngIf="serverErr !=null " style="text-align: center; color: red;"> {{serverErr}} </p>
        <div class="submit-btn">
            <div class="login-btn">
                <button (click)="OTPSubmit()">Verify OTP</button>
            </div>
        </div>
    </div>