<div class="page-container">
    <div class="for-body">
        <div style="margin-bottom: 40px;">
            <h4>
                Forgot Password</h4>
        </div>
        <div class="forms">
            <div style="margin-bottom: 10px;">
                <p>Mobile Number:</p>
                <input type="tel" placeholder="Enter Mobile Number" [formControl]="text" />
            </div>
        </div>
        <p class="err" *ngIf="submitted && text.invalid">Enter Mobile Or Email</p>
        <p class="err" *ngIf="error !=null">{{error}}</p>
        <div class="login-btn">
            <button (click)="submit()">Send OTP</button>
        </div>
    </div>

</div>