<div class="page-container">
    <div class="header">
        <app-header></app-header>
    </div>


    <div class="for-body">
        <div style="margin-bottom: 40px;"><h4 style="text-align: center; color: #fd841f; font-family: 'Poppins', sans-serif; font-size: 20px; font-weight: 700;">Forgot Password</h4></div>
        <div class="forms" [formGroup]="setPasswordForm">
            <div style="margin-bottom: 10px;">
                <p>Mobile Number:</p>
                <input type="tel" placeholder="Enter Mobile Number" />
            </div>
        </div>
        <p class="err" *ngIf="''">* Fill All The Required Fields</p>
        <div class="login-btn">
            <button >Send OTP</button>
        </div>
    </div>

</div>