<div class="page-container">
    <div class="body-container">
        <div class="forms-container" [formGroup]="otpForm">
            <h4>OTP Verify </h4>
            <div class="forms">
                <input type="tel" placeholder="Enter OTP" formControlName="OTP" minlength="6" maxlength="6"
                    onkeypress="return event.keyCode === 8 || event.charCode >= 48 && event.charCode <= 57"
                    [ngClass]="submitted && otpForm.get('OTP')?.invalid?'active-err':'' " />
            </div>
            <p class="error" *ngIf="counter == 0" (click)="resendOtp()">
                Resend!</p>
            <p class="error" *ngIf="counter>0">{{counter | otpTimer}}</p>
            <p class="error" *ngIf="submitted && otpForm.invalid "
                style="text-align: center; color: red; padding-left: 11%;">
                Enter OTP
            </p>
            <p class="error"> {{serverErr}} </p>
            <div class="submit-btn">
                <button (click)="OTPSubmit()">Verify OTP</button>
            </div>

        </div>
    </div>
</div>