<div class="page-container">
    <div class="for-body">
        <div class="forms" [formGroup]="setPasswordForm">
            <h4>OTP Verify </h4>
            <div style="margin-bottom: 10px;">
                <p>Password:</p>
                <input type="password" placeholder="Enter Password"
                    [ngClass]="setPasswordForm.get('password')?.invalid && submitted? 'active-err':'' "
                    formControlName="password" />
            </div>
            <div>
                <p> Confirm Password:</p>
                <input type="password" placeholder="Confirm Password"
                    [ngClass]="setPasswordForm.get('confirmPassword')?.invalid && submitted? 'active-err':'' "
                    formControlName="confirmPassword" />
            </div>
        </div>
        <p class="err" *ngIf=" submitted && setPasswordForm?.invalid">* Fill All The Required Fields</p>
        <p class="err" *ngIf="confErr != null">{{confErr}}</p>
        <div class="login-btn">
            <button (click)="setPassword()">Set Password</button>
        </div>
    </div>
</div>